{% extends "base.html" %}


{% block content %}

<h1>Search Timetric</h1>
<form method="GET" action=".">
{{form.as_p}}
	<input type="submit" id="searchButton" value="Search">
</form>

{% if series %}
<h2>Search Results</h2>

<ul>
{% for s in series %}
<li>{{s.title}}<form method="POST" action="{% url graph %}"><input type="hidden" name="title" value="{{s.title}}"><input type="hidden" name="id" value="{{s.name}}"><input type="submit" value="This one"></form></li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}